
<!-- Navbar Start -->
<div class="container-fluid p-0">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">


        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse" style="align-content: center">
            <div class="navbar-nav mr-auto py-0" style="align-content: center;">
                <a href="http://localhost:8000/home" class="nav-item nav-link active" style="">Gündem</a>
                <a href="/admin/category" class="nav-item nav-link">Ekonomi</a>
                <a href="single.html" class="nav-item nav-link" style="">Dünya</a>
               <li > <a href="single.html" class="nav-item nav-link">Spor</a> </li>
                <a href="single.html" class="nav-item nav-link">Teknoloji</a>
                <a href="single.html" class="nav-item nav-link">Magazin</a>
                <a href="single.html" class="nav-item nav-link">Sağlık</a>
                <a href='/contact' class="nav-item nav-link">İletişim</a>
                <a href='/aboutus' class="nav-item nav-link">Hakkımızda</a>
                <li class="input-group ml-auto d-none d-lg-flex" style=" margin-right:4px;">
                    <div class="nav-item dropdown" style="margin-left: 410px">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                        <a href="{{ path('app_logout') }}"> <img class="class=”rounded-circle"  src="/assets/img/admin.jpeg"style=";width: 52px;border-radius:80%"></a>




                              {% else %}
                                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Giriş</a>

                            {% endif %}
                        <div class="dropdown-menu rounded-0 m-0">
                             <a href="{{ path('app_login') }}" class="dropdown-item">Giriş Yap</a>


                            <a href="{{ path('app_logout') }} "class="dropdown-item">Çıkış Yap</a>

                        </div>
                    </div>

                    <div class="input-group-append" style="margin-left: 10px"  >
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                    class="fa fa-search"></i></button>

                    </div>


                </li>



                <style>
                    .nav-item nav-link:hover{
                        color: red;
                    }


                    li {
                        float: left;
                    }

                    li a {
                        display: inline-block;
                        color: white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                    }
                    li a:hover{
                        background-color: red;
                    }

                    li a:hover, .menu:hover {
                        background-color: #1a3680;
                    }

                    li.menu {
                        display: inline-block;
                    }

                    .acilir-menu {
                        display: none;
                        position: absolute;
                        background-color: #111;
                        min-width: 160px;
                    }

                    .acilir-menu a {
                        display: block;
                        text-align: left;
                    }

                    .acilir-menu a:hover {
                        color: white;
                    }

                    .menu:hover .acilir-menu {
                        display: block;
                    }

                    .aktif {
                        background-color: #1A3680;
                        color: white;
                    }
                </style>
            </div>

        </div>
    </nav>
</div>
<!-- Navbar End -->
