{% extends 'homebase.html.twig' %}

{% block title %} Home {% endblock %}


 {% block sliderbar %} {% include('home/sliderbar.html.twig')%}{% endblock %}
{% block sidebar %} {% include('home/sidebar.html.twig')%} {% endblock %}




{% block content %}

    <h1> content alan覺覺覺覺</h1>
{% endblock %}