<!-- Social Follow Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Vizör Haberi Keşfedin</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
            <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">Facebook</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
            <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">Twitter</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
            <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">Linkedin</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
            <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">İnstagram</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
            <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="font-weight-medium">Youtube</span>
        </a>

    </div>
</div>
<!-- Social Follow End -->



<!-- Popular News Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Yerel Haberler</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="img/news-110x110-1.jpg" alt="">
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">İzmir</a>

                </div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">İzmir açıklarında 75 düzensiz göçmen yakalandı</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="img/news-110x110-2.jpg" alt="">
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Manisa</a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Yıkılan duvarın altında kalan işçi öldü</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="img/news-110x110-3.jpg" alt="">
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Balıkesir</a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Balıkesir'de yakalanan FETÖ firarisi eski yarbay tutuklandı</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="img/news-110x110-4.jpg" alt="">
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">İzmir</a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">İzmir'de kurtuluşun 100'üncü yılına coşkulu kutlama</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="img/news-110x110-5.jpg" alt="">
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Ankara</a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">CHP'nin kuruluşunun 99. yıl dönümü Beypazarı'nda kutlandı</a>
            </div>
        </div>
    </div>
</div>
<!-- Popular News End -->

<!-- Newsletter Start -->
<div class="mb-3">
    <div class="section-title mb-0">
        <img style="width:180px; height:40px; font-size: 65px" src="/assets/img/icon.jpeg" style="height: 75px;font-size: 1em;margin-right: 2px"  srcset="/assets/dffed3f4.png 2x">

    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <p>Günün manşetlerini ve en çok okunan haberleri her sabah e-postanızdan takip etmek için Vizör habere üye olun.</p>
        <div class="input-group mb-2" style="width: 100%;">
            <input type="text" class="form-control form-control-lg" placeholder="Email">
            <div class="input-group-append">
                <button class="btn btn-primary font-weight-bold px-3">Üye ol</button>
            </div>
        </div>
        <small>Teşekkürler!</small>
    </div>
</div>
<!-- Newsletter End -->

<!-- Tags Start -->
<div class="mb-3">
    <div class="section-title mb-0">

    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Gündem</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Ekonomi</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Dünya</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Spor</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Teknoloji</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Magazin</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Sağlık</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">İletişim</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Hakkımızda</a>
        </div>
    </div>
</div>