<!-- Topbar Start -->
<div class="container-fluid d-none d-lg-block" style="height: 65px">

    <div class="row align-items-center bg-white py-3 px-lg-5" >

        <div class="col-lg-7">
            <link rel="icon" href=" http://localhost:8000/home" type="image/icon type">
       <a href="http://localhost:8000/home">   <img style="width:180px; height:50px; font-size: 65px" src="/assets/img/icon.jpeg" style="height: 75px;font-size: 1em;margin-right: 2px"  srcset="/assets/dffed3f4.png 2x"></a>

            <i class="fa fa-logo ws-text-green ws-hover-text-green" style="position:relative;font-size:42px!important;"></i>

        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <a href="https://htmlcodex.com"><img class="img-fluid" style="padding-top: 55px" src="img/ads-728x90.png" alt=""></a>

        </div>

    </div>

    <i class="fa fa-logo ws-text-green ws-hover-text-green" style="position:relative;font-size:42px!important;"></i>

</div>
<!-- Topbar End -->