{% extends 'adminbase.html.twig' %}

{% block title%} Category Page {% endblock %}

{% block content %}

<div class="right_col" role="main">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Category Page</h4>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <hr />

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>Category List </b></h4>
                        <hr />
                        <h4 class="m-t-0 header-title"><b>Manage    Category </b></h4>
                    </div>

                </div>
            </div>


        </div> <!-- container -->

    </div> <!-- content -->
</div>
{% endblock %}
